// copy from http://im.qq.com/
        html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            // font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
        }

        html, body {
            color: #fff;
        }

        body {
            background: #fff;
        }

        ul, ol, li {
            list-style: none;
        }

        a:link, a:visited {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #12b7f5;
        }

        img {
            border: none;
        }

        em {
            font-style: normal;
        }

        h1, h2, h3, h4, h5 {
            font-weight: normal;
        }

        .clearfloat:after {
            content: '.';
            display: block;
            overflow: hidden;
            visibility: hidden;
            font-size: 0;
            line-height: 0;
            width: 0;
            height: 0;
        }

        .clearfloat {
            zoom: 1;
        }
        .none{
            display: none;
        }