@import './base.scss';

$rgbaBlack : rgba(0, 0, 0, 0.7);
html{
	height:100%;
}
body{
	height: 100%;
} 
// .flex{
	
//       display: -webkit-flex;
//       -webkit-flex-direction: column;

//       display: flex;
//       flex-direction: column;
		
// }

@keyframes earringsMove
{
from {transform: rotate(30deg);}
to {transform: rotate(-30deg);}
}

@-moz-keyframes earringsMove /* Firefox */
{
from {-moz-transform: rotate(30deg);}
to {-moz-transform: rotate(-30deg);}
}

@-webkit-keyframes earringsMove /* Safari  Chrome */
{
from {-webkit-transform: rotate(30deg);}
to {-webkit-transform: rotate(-30deg);}
}

@-o-keyframes earringsMove /* Opera */
{
from {-o-keyframes-transform: rotate(30deg);}
to {-o-keyframes-transform: rotate(-30deg);}
}

@keyframes movehand
{
	0% {margin-left:-100%;}
	25% {margin-left:-25%;}
	// 50% {margin-left:-25%;}
	100% {
		margin-top: 30%;
		margin-left: 0;
	}
}

@keyframes handMoveEar
{
from {transform: scale(1,1);}
to {
	transform: scale(0.75,0.75);
	margin-top:11%;
	margin-left:40%;}
}

@-moz-keyframes handMoveEar /* Firefox */
{
from {-moz-transform: scale(1,1);}
to {
	-moz-transform: scale(0.75,0.75);
	margin-top:11%;
	margin-left:40%;}
}

@-webkit-keyframes handMoveEar /* Safari  Chrome */
{
from {-webkit-transform: scale(1,1);}
to {
	-webkit-transform: scale(0.75,0.75);
	margin-top:11%;
	margin-left:40%;}
}

@-o-keyframes handMoveEar /* Opera */
{
from {-o-keyframes-transform: scale(1,1);}
to {
	-o-keyframes-transform: scale(0.75,0.75);
	margin-top:11%;
	margin-left:40%;}
}


@mixin page($url) {
	height:100%;
	background: transparent no-repeat center ;
	background-image:url($url);
	background-size: cover;
}

@mixin fcenter{
	justify-content:center;
	align-items:center;
	display:-webkit-flex;
	display: flex;
}

.contian{
	height:100%;
	overflow:hidden;
	 
	.music{
		// width: 68px;
		// height: 68px;
		width: 100%;
		position: fixed;
		z-index: 9999;
		#musicBtn{
			width: 10%;
			height: 10%;
			float: right;
			margin: 3%;
		}
	}

	.page1{
		@include page('../images/page1_bg.jpg');

		.page1-content{
			text-align:center; 
			padding-top: 30%;
			.page1-content-logo{
				width: 25%;
			}
			.page1-content-title{
				width: 100%;
			}
			

			.page1_tipcontent{
				text-align:center;
				color:#fff;
				margin-top: 25%;
			}
		}
	}
	.handlewhole{
		position:fixed;
		width: 100%;
		top: 21%;
		text-align: center;
			.hand{
				z-index: 999;
				position:relative;
				top: 21%;
				text-align:left;
				img{

					width: 80%;
   					margin-left: -100%;
				}

			}
			
			.handwhole{
				margin-top: 28%;
				.div_ear_top{
					margin-top: -35%;
					.ear_top{
						margin-right: 10%;
						width: 18%;
					}
				}
				
				.ear_bottom{
					margin-top: -2%;
					margin-right: 3%;
					width: 25%;

					// height: 100%;
					transform-origin: 50% 0;
					
	  				animation:earringsMove 4s linear infinite alternate;
					-webkit-animation:earringsMove 4s linear infinite alternate; 
					-o-keyframes-animation:earringsMove 4s linear infinite alternate; 
					-moz-animation:earringsMove 4s linear infinite alternate; 
				}				
			}

	}
	.page2{
		@include page('../images/page2_bg.jpg') ;
		.textImg{
			width: 44%;
			 
		}
		.div_wukong{
			text-align: right;
		    margin-top: -55%;
			.wukongImg{
				width: 65%;
			}	
		}
		.page2_tipContent{
			margin: -15% 35%;
		}
		
	}

	@keyframes rightTOleft
	{
		0% {margin-left: -180%;}
		100% {
			margin-left: 0;
		}
	}
	@keyframes leftTOright
	{
		0% {margin-left: 180%;}
		100% {
			margin-left: 0;
		}
	}
	.rTOl{
		margin-left: -180%;
		animation: rightTOleft 0.5s linear 1 forwards;
		-webkit-animation: rightTOleft 0.5s linear 1 forwards; 
		-o-keyframes-animation: rightTOleft 0.5s linear 1 forwards; 
		-moz-animation: rightTOleft 0.5s linear 1 forwards; 
	}
	.lTOr{
		margin-left: 180%;
		animation: leftTOright 1s linear 1 forwards;
		-webkit-animation: leftTOright 1s linear 1 forwards; 
		-o-keyframes-animation: leftTOright 1s linear 1 forwards; 
		-moz-animation: leftTOright 1s linear 1 forwards; 
	}
	.page3{
		@include page('../images/page3_bg.jpg');
		text-align: center;
		margin-top: 3%;
		img{
			width:80%;
		}

		.page3_txtImg1{
			position:absolute;
			top: 22%;
			@extend .lTOr;
		}
		.page3_txtImg2{
			position:absolute;
			top: 57%;
			@extend .lTOr;

		}

	}
	@keyframes fall
	{
		0% {top: 33%;}
		100% {
			top: 85%;	
		}
	}
	.page4{
		@include page('../images/page4_bg.jpg') ;
		.page4_txtContent{
			padding-top: 10%;
			z-index: 99;
    		position: absolute;
    		@extend .rTOl;
			img{
				width: 100%;
			}
			
		}
		.page4_earrings{
			position:absolute;
		    top: 33%;
		    left: 12%;
		    z-index: 2;	
			img{
				width: 40%;
			}
			.page_tipContent{
				margin-top: 10%;
			}
		}
		.page4_imgContent{
			text-align: right;
			position:relative;
			top: 14%;
			img{
				width: 90%;
			}
			@extend .rTOl;
		}
		.beijiHand{
			z-index: 88;
			position:relative;
			top: -10%;
			margin-left: 180%;
			@extend .rTOl;
			img{
				width: 40%;
			}
		}
		#fit_btn{
			position:absolute;
			bottom: 6%;
			right: 8%;
			width: 50%;
			z-index: 8888;
		}
	}
	@keyframes leftTOcenter
	{
		0% {
			top: 0;
			// left: 0;
		}
		100% {
			top: 26%;
			// left: 50%;
		}
	}
	@keyframes rightTOcenter
	{
		0% {
			bottom: 0;
			// right:  0;
		}
		100% {
			bottom: 26%;	
			// right: 50%;
		}
	}
	.ltoc{
		animation: leftTOcenter 1.5s linear 1 forwards;
		-webkit-animation: leftTOcenter 1.5s linear 1 forwards; 
		-o-keyframes-animation: leftTOcenter 1.5s linear 1 forwards; 
		-moz-animation: leftTOcenter 1.5s linear 1 forwards; 
	}
	.rtoc{
		animation: rightTOcenter 1.5s linear 1 forwards;
		-webkit-animation: rightTOcenter 1.5s linear 1 forwards; 
		-o-keyframes-animation: rightTOcenter 1.5s linear 1 forwards; 
		-moz-animation: rightTOcenter 1.5s linear 1 forwards; 
	}
	.page5{
		@include page('../images/page5_bg.jpg') ;
		text-align: center;
		vertical-align: center;
		line-height: 100%;
		// @include fcenter;

		.page5_heti_btn{
			// @include fcenter;
			// display: inline-block;

			#heti_btn{
				position: fixed;
			  	top: 50%;
			  	left: 50%;
			 	 width:50%;
				-webkit-transform: translateX(-50%) translateY(-50%);
			}
		}
		
		.page5_tip_txt{
			width: 100%;
			text-align: center;
			position:absolute;
			top: 63%;
			right: 0;
			z-index: 10;
			img{
				width: 30%;
			}
		}
		.page5_wukong{
			text-align: left;
			position:absolute;
			top: 0;
			left: 0;
			img{
				width: 75%;
			}
		}
		.page5_beijita{
			text-align: right;
			position:absolute;
			bottom: 0;
			right:  0;
			img{
				width: 75%;
			}
		}
	}
	
	@keyframes topMOVEbottom
	{
		0% {top: 0}
		100% {top: 3%;}
	}
	@keyframes topMOVEbottom
	{
		0% {top: 0}
		100% {top: 3%;}
	}
	.page6{
		@include page('../images/page5_bg2.jpg') ;
		background-color:#000;
		.page6_menu{
			@include fcenter;
			position:relative;
			z-index: 9999;
			background-color:$rgbaBlack;
			padding:3% 0;
			vertical-align: center;
			#endMusicBtn{
				width: 10%;
				height: 10%;
				margin-right:2%;
			}
			.download_btn{
				margin-left:2%;
				width:25%;
			}
		}
		.page6_endTitle{
			margin-top: 80%;
			position: relative;
			z-index: 1000;
			img{
				width: 100%;
			}
		}
		.page6_light_people{
			position:absolute;
			top: 0;
			z-index:3;
			left: 0;
			animation: topMOVEbottom 1s 1s linear infinite alternate;
			-webkit-animation: topMOVEbottom 1s 1s linear infinite alternate; 
			-o-keyframes-animation: topMOVEbottom 1s 1s linear infinite alternate; 
			-moz-animation: topMOVEbottom 1s 1s linear infinite alternate; 
			img{
				margin-top:6%;
				width: 100%;
			}
		}
		.page6_fire{
			top: 0;
			left: 0;
			position:absolute;
			img{
				width: 100%;
			}
		}

		.page6_endMenu{
			width: 100%;
			position: relative;
			z-index: 9999;
			text-align: center;
			img{
				margin:3%;
				width: 39%;
			}
		}
  		
	}
	.none{
        display: none;
    } 
}

.modalDiv{
	width:100%;
	// height:25%;
	background-color:$rgbaBlack;
	position:fixed;
	top:30%;
	z-index:9999;
	text-align: center;

	#closeModal{
		width: 6%;
		position: absolute;
		top:2%;
		right:2%;
	}
	.modal_success_title{
		margin-top: 5%;
		img{
			width: 40%;
		}
	}
	.cokey{
		margin:5%;
		color:yellow;
		border: 2px solid yellow;
		padding:2%;
	}
	.coty_txt{
		img{
			width: 40%;
		}
		margin-bottom: 5%;
	}
}